@charset "UTF-8";

@import "commom.scss";

.headTop {
    margin: 0px auto;
    .wrap {
        width: 1210px;
        margin: 0px auto;
    }

    .headClient {
        font-size: 12px;
        background-color: rgb(246,246,246);
        text-align: center;

        p {
            height: 31px;
            line-height: 31px;
        }
        p:first-child {
            float:left;
            span {
                padding: 0 13px;
            }
        }
        p:last-child {
            float: right;
            span {
                padding: 0 13px;
            }
        }

        & > * {
            display: inline-block;
        }
    }


    .headSearch {
        & > * {
            float: left;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .col-lg-6 {
            margin-top: 18px;
            width: 500px;
            .input-group {
                input {
                    border-color: red;
                }
                span,button {
                    border: 0px solid #f00;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: red;
                    color: white;
                }
            }
            p {
                font-size: 12px;
            }
        }
        .SrShop {
            line-height: 90px;
            margin-left: 20px;
        }
        .SrShop > * {
            display: inline-block;
        }
    }

    .headNav {
        background-color: #f7f7f7;
        font-size: 14px;
        font-weight: bold;
        border-top: 1px solid rgb(223,223,223);
        ul {
            border-color: red;
            a {
                color: #323232;
            }

            li:first-child a {
                background-color: #c82324;;
                border-color: red;
                color: #FFF;
                font-size: 14px;
                font-weight: bold;
            }

            li:last-child {
                float:right;
                a {
                    color: #f00;
                }
            }
        }
    }
}

.footBottom {
    .wrap {
        background-color: rgb(247,247,247);
        width: 1210px;
        margin: 0 auto;
        .foot {
            & > * {
                display: inline-block;
            }
            ul {
                a {
                    color: black;
                }
                font-size: 12px;
                margin-top: 26px;
                width: 156px;
                border-left:1px dashed black;
                li {
                    padding-left: 14px;
                }
            }
            ul li:first-child {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 7px;
                margin-top: 3px;
            }
        }
        div:last-child {
            text-align: center;
            p {
                font-size: 12px;
            }
        }
    }
}

#loginReg {
    border: 1px solid #eee;
    width: 1210px;
    height: 545px;
    margin: 8px auto;

    input {
        width: 146px;
        height: 28px;
        border-radius: 3px;
    }
    & > div {
        float:left;
    }

    #login ,#register{
        border: 1px solid #eee;
        width: 470px;
        height: 545px;
        border-right: none;
        padding-left: 12px;
        font-size: 14px;
        text-align: left;
        div {
            margin: 14px 0;
        }
        div > *{
            display: inline-block;
        }
        h2 {
            font-weight: bolder;
            border-bottom: 2px solid #eee;
            padding-bottom: 5px;
            span:last-child {
                font-size: 12px;
                color: red;
            }
        }
        span:last-child {
            font-size: 12px;
            color: #999;
        }
        div:last-child {
            button {
                background-color: orange;
                color: white;
            }
        }
    }
    #register {
        border: 1px solid #eee;
        width: 638px;
        height: 545px;
        border-right: none;
        div > *{
            display: inline-block;
        }
        textarea {
            color: #666;
            background: #f9f9f9;
            border-radius: 3px;
            font-size: 12px;
        }
        div:last-child {
            button {
            }
            input {
                width: 12px;
                height: 12px;
            }
            span {
                font-size: 12px;
            }
        }
    }
}