ul, li, p { margin: 0px; padding: 0px; }

ul { list-style: none; }

a { text-decoration: none; }

.headTop { margin: 0px auto; }

.headTop .wrap { width: 1210px; margin: 0px auto; }

.headTop .headClient { font-size: 12px; background-color: #f6f6f6; text-align: center; }

.headTop .headClient #inOut { color: red; font-weight: bolder; cursor: pointer; }

.headTop .headClient p { height: 31px; line-height: 31px; }

.headTop .headClient p:first-child { float: left; }

.headTop .headClient p:first-child span { padding: 0 13px; }

.headTop .headClient p:last-child { float: right; }

.headTop .headClient p:last-child span { padding: 0 13px; }

.headTop .headClient > * { display: inline-block; }

.headTop .headSearch > * { float: left; }

.headTop .headSearch:after { content: ''; display: block; clear: both; }

.headTop .headSearch .col-lg-6 { margin-top: 18px; width: 500px; }

.headTop .headSearch .col-lg-6 .input-group input { border-color: red; }

.headTop .headSearch .col-lg-6 .input-group span, .headTop .headSearch .col-lg-6 .input-group button { border: 0px solid #f00; font-size: 14px; font-weight: bold; background-color: red; color: white; }

.headTop .headSearch .col-lg-6 p { font-size: 12px; }

.headTop .headSearch .SrShop { line-height: 90px; margin-left: 20px; }

.headTop .headSearch .SrShop > * { display: inline-block; }

.headTop .headNav { background-color: #f7f7f7; font-size: 14px; font-weight: bold; border-top: 1px solid #dfdfdf; }

.headTop .headNav ul { border-color: red; }

.headTop .headNav ul a { color: #323232; }

.headTop .headNav ul li:first-child a { background-color: #c82324; border-color: red; color: #FFF; font-size: 14px; font-weight: bold; }

.headTop .headNav ul li:last-child { float: right; }

.headTop .headNav ul li:last-child a { color: #f00; }

.footBottom .wrap { background-color: #f7f7f7; width: 1210px; margin: 0 auto; }

.footBottom .wrap .foot > * { display: inline-block; }

.footBottom .wrap .foot ul { font-size: 12px; margin-top: 26px; width: 156px; border-left: 1px dashed black; }

.footBottom .wrap .foot ul a { color: black; }

.footBottom .wrap .foot ul li { padding-left: 14px; }

.footBottom .wrap .foot ul li:first-child { font-size: 14px; font-weight: bold; margin-bottom: 7px; margin-top: 3px; }

.footBottom .wrap div:last-child { text-align: center; }

.footBottom .wrap div:last-child p { font-size: 12px; }

#loginReg { border: 1px solid #eee; width: 1210px; height: 545px; margin: 8px auto; }

#loginReg input { width: 146px; height: 28px; border-radius: 3px; }

#loginReg > div { float: left; }

#loginReg #login, #loginReg #register { border: 1px solid #eee; width: 470px; height: 545px; border-right: none; padding-left: 12px; font-size: 14px; text-align: left; }

#loginReg #login div, #loginReg #register div { margin: 14px 0; }

#loginReg #login div > *, #loginReg #register div > * { display: inline-block; }

#loginReg #login h2, #loginReg #register h2 { font-weight: bolder; border-bottom: 2px solid #eee; padding-bottom: 5px; }

#loginReg #login h2 span:last-child, #loginReg #register h2 span:last-child { font-size: 12px; color: red; }

#loginReg #login span:last-child, #loginReg #register span:last-child { font-size: 12px; color: #999; }

#loginReg #login div:last-child button, #loginReg #register div:last-child button { background-color: orange; color: white; }

#loginReg #register { border: 1px solid #eee; width: 638px; height: 545px; border-right: none; }

#loginReg #register div > * { display: inline-block; }

#loginReg #register textarea { color: #666; background: #f9f9f9; border-radius: 3px; font-size: 12px; }

#loginReg #register div:last-child input { width: 12px; height: 12px; }

#loginReg #register div:last-child span { font-size: 12px; }
